@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #0e0e0e;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fixed-bg {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/images/conserts/back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  will-change: transform;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}